.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 114.2em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.001-scissors:before {
      background-position: 0em 0em;
      width: 3.0556em;
      height: 3.0556em;
  }




  .icon.002-vladimir-putin:before {
      background-position: 0em -3.1em;
      width: 14.9566em;
      height: 14.9566em;
  }




  .icon.003-soldier:before {
      background-position: 0em -18.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.004-kraken:before {
      background-position: 0em -69.3em;
      width: 44.897800000000004em;
      height: 44.897800000000004em;
  }





